.Recent-friends {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 200px;
  margin-top: 10px;
}
.Recent-friends-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
}
.Recent-friends-name {
  height: 60px;
  width: 140px;
  background-color: #fff;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}
.Recent-friends-pic img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.friendsLogo {
  border: 1px solid black;
}
.friendCard {
  margin-bottom: 10px;
}
